.square1, .square2, .square3, .square4, .square5, #square6 {
  display:block;
  width: 50px;
  height: 50px;
  border-radius: 3px;
}

.square7, .square8, .square9, .square10, .square11, .square12, .square13 {
  display:block;
  width: 50px;
  height: 50px;
  border-radius: 3px;
}

.square14, .square15, .square16, .square17, .square18, .square19, .square20 {
  display:block;
  width: 50px;
  height: 50px;
  border-radius: 3px;
}

.square21, .square22, .square23, .square24, .square25, .square26, .square27 {
  display:block;
  width: 50px;
  height: 50px;
  border-radius: 3px;
}

.square28, .square29, .square30, .square31, .square32 {
  display:block;
  width: 50px;
  height: 50px;
  border-radius: 3px;
}

.path1 {
  display:block;
  width: 15px;
  height: 15px;
  border-radius: 3px;
  background-color: green;
}

.separadorh3 {
  border-top: 1px dashed;
}

.subtitulo {
  color: #A40000;
  margin: 30px auto;
  text-decoration: underline;
}

.gruesito {
  height: 150px;
}
.textInput {
  display: flex;
  text-align: center;
  height: 22px;
  background-color: lightcyan;
  border: 5px double darkgreen;
  border-radius: 3px;
  font-size: 20px;
  width: 100px;
  margin-left: 14vw;
}

input[type=range] {
  position: absolute;
  right: 28vw;
  width: 14vw;
  -webkit-appearance: none;
  background: #A40000;
}