.containerg {
  width: 95vw;
  height: auto;
  margin: 50px 2.5vw;
  display: block;
}

.texto {
  text-align: justify;
  margin: 20px auto;
  width: 95vw;
  font-size: 20px;
  font-family: sans-serif;
}

#componentDidMount {
  color: purple;
  font-weight: bold;
}

#importante {
  font-size: 24px;
  font-style: oblique;
  border: 5px double darkgreen;
  padding: 5px;
}

.ilustracion {
  display: flex;
  margin: 20px auto;
}

.row {
  display: flex;
  height: 70px;
  width: 90vw;
  margin: 10px auto;
  position: relative;
}

.btngreen {
  display: block;
  width: 120px;
  height: 30px;
  font-size: 15px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  background-color: #6A4BE8;
  color:#0F0342;
  position: relative;
  left: 60%;
}

.box1, .box2 {
  display:block;
  width: 50px;
  height: 50px;
  border-radius: 3px;
}

.orange1, .orange2, .orange4, .orange5, .orange6 {
  background-color: orange;
}

.blue1, .blue2, .blue4, .blue5, .blue6 {
  background-color: blue;
}

.green1, .green2, .green3, .green4, .green5, .green6 {
  background-color: green;
}

.red5, .red6 {
  background-color: red;
}
.label {
  position: absolute;
  left: 40%;
  font-weight: bold;
}

.mancito {
  height: 60px;
  margin-left: 20px;
}

.botoncitos {
  position: absolute;
  right: 2vw;
}

.btncontrol {
  font-size: 18px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  background-color: #6A4BE8;
  color:#0F0342;
  margin: auto 10px;
}

